.faqimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 20px 20px rgb(255, 255, 255),0 10px 20px rgb(253, 253, 253);
}

.faqp{
    text-decoration: none;
    font-weight: 500;
    color: blueviolet;
    font-size: 10px;
}

.hfaq {
    font-size: 4rem;
    font-weight: 600;
    padding: 2rem 2rem 1rem 2rem;
    color: #F3F4E5;
}
.hfaq2 {
    font-size: 4rem;
    font-weight: 600;
    padding: 2rem 2rem 1rem 2rem;
    color: #F3F4E5;
    display: none;
}

.hhfaq{
    display: flex;
    justify-content: center;
}

.slider-container{
    position: relative;
    width: 100vw;
    height: 120vh;
    overflow: hidden;
    /* background-color: #0b0e1a; */
    /* background: linear-gradient(to bottom,#10131f, rgb(8, 12, 22)); */
}

.faqc{
    background: linear-gradient(to bottom,#10131f, rgb(8, 12, 22));
}

.slider{
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    perspective: 200px;
    perspective-origin: 50% 100%;
}

.card{
    position: absolute;
    top:40%;
    left: 50%;
    width: 50%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    transform: translate3d(-50%, -50%, 0);
    background-color: #ebab23;
    border: 1px solid #ebebeb7a;
}

.card img{
    position: absolute;
    opacity: 0.75;
}

.copy{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.faqh1t{
    position: relative;
    margin: 1rem 2rem 0 2rem ;
    text-align: left;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: #F3F4E5;
}

.faqpt{
    margin: 2rem 2rem 0 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #F3F4E5;
}



@media (max-width: 600px) {

  .slider-container {
    height: 100vh;
  }

  .slider {
    left: 50%;
    top: 50%;
    perspective: 350px;
    transform: translate(-50%, -50%);
    }

  .card {
    width: 81%;
    height: 300px;
    top: 50%;
  }

  .copy {
    width: 90%;
    top: 50%;
  }

  .faqpt{
    margin: 0.5rem 0.5rem 0 0.5rem;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #F3F4E5;
}

.faqh1t{
    position: relative;
    margin: 1rem 0.5rem 0 0.5rem ;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #F3F4E5;
}

.hfaq {
    font-size: 4rem;
    font-weight: 600;
    padding: 2rem 2rem 1rem 2rem;
    color: #F3F4E5;
}
.hfaq2 {
    font-size: 4rem;
    font-weight: 600;
    padding: 2rem 2rem 1rem 2rem;
    color: #F3F4E5;
    display: inline
}

.hhfaq{
    display: flex;
    justify-content: center;
    display: none;
}

}

@media (min-width: 601px) and (max-width: 1024px) {

  .slider {
    perspective: 370px;
  }

    .slider-container {
    height: 90vh;
  }
  .card {
    width: 80%;
    height: 400px;
  }

  .faqpt{
    margin: 2rem 2rem 0 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #F3F4E5;
}

.faqh1t{
    position: relative;
    margin: 1rem 2rem 0 2rem ;
    text-align: left;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: #F3F4E5;
}
  
.hfaq {
    font-size: 4rem;
    font-weight: 600;
    padding: 2rem 2rem 1rem 2rem;
    color: #F3F4E5;
}
.hfaq2 {
    font-size: 4rem;
    font-weight: 600;
    padding: 2rem 2rem 1rem 2rem;
    color: #F3F4E5;
    display: inline
}

.hhfaq{
    display: flex;
    justify-content: center;
    display: none;
}

}
